<%- include('../../partions/hearder') %>
<%- include('../../partions/navbar') %>

<div class="container">
    <hr>
    <h2>Artigos</h2>
    <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria</a>
    <table class="table table-bordered">
        <thead>
<tr>
    <th>Id</th>
    <th>Título</th>
    <th>Slug</th>
    <th>Açoes</th>
</tr>
</thead>
  <tbody>

    <% categories.forEach(category => { %>

        <tr>
            <th><%=  category.id %></th>
            <th><%= category.title %></th>
            <th><%=  category.slug %></th>
            <th>
                <a href="/admin/categories/edit/<%= category.id %>"
                 class="btn btn-warning">Editar</a>

        <form method="POST" action="/categories/delete"
         style="display: inline;" 
        onsubmit="confirmardelecao(event, this)">
          
            <input type="hidden" name="id" value="<%= category.id %> ">

            <button class="btn btn-danger">Deletar</button>
        </form>

            </th>
        </tr>

        <% }) %>

     </tbody>
    </table>
</div>

<%- include('../../partions/footer') %>

<script>

function confirmardelecao(event, form){
        event.preventDefault();
        console.log('oi')
    var decisao= confirm("Quer deletar a categoria?")

            if(decisao){
            form.submit()
            }
}
            </script>
